<div class="big-container">
    <header class="header">
        <nav class="nav-wrapper flexed-item">
            <div class="nav-link-wrapper flexed-item">
                <div class="nav-logo">
                    <a href="/homepage" class="flexed-item">
                        <span class="logo-item circle"></span>
                        <h2 class="logo-item">DRESSING PROJECT</h2>
                    </a>
                </div>
                <ul class="nav-link flexed-item">
                    <li class="nav-item animated-link">
                        <a href="/homepage">Homepage</a>
                    </li>
                    <li class="nav-item animated-link">
                        <a href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item animated-link">
                        <a href="/viewall">View All</a>
                    </li>
                    <li class="nav-item animated-link">
                        <a href="/dayclothes">Clothes of the Day</a>
                    </li>
                    <li class="nav-item animated-link">
                        <a href="/manage">Add Clothes</a>
                    </li>
                    <li class="nav-item animated-link">
                        <a href="/map">Find a retailer</a>
                    </li>
                </ul>
            </div>
            <div class="flexed-item nav-end" id="login">
                <a href="/logout" id="nav_login" class="button-ternary flexed-item nav-end-item">
                    <span class="btn-text">Log Out</span>
                </a>
                <i class="fas fa-shopping-cart shop-cart-icon nav-end-item"></i>
            </div>
        </nav>
    </header>
</div>