<script src="/javascripts/chart.js"></script>

{{> navbar }}

<div class="chart-title">

    <h2>Know your Dressing By Getting Your Clothes Data</h2>

</div>

<div class="chart-container">

    <div class="chartjs">
        <canvas id="myChart" max-height="300" max-width="800"></canvas>
    </div>

    <div class="chartjs">
        <canvas id="myChart2" max-height="300" max-width="800"></canvas>
    </div>
</div>

<div class="chart-container lastone">
    <div class="chartjs">
        <canvas id="myChart3" max-height="300" max-width="800"></canvas>
    </div>
    <div class="chartjs">
        <canvas id="myChart4" max-height="300" max-width="800"></canvas>
    </div>
</div>

<div class="chart-title" id="chart-title"></div>


<style>
    #chart-title {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 40px;
        border: solid 1px black;
        padding: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }

    .imginnerhtml {
        width: 20%;
        margin-bottom: 10px;

    }

    .lastone {
        margin-bottom: 50px
    }
</style>

{{> footer}}