<script src="/javascripts/chart.js"></script>

{{> navbar }}

<div class="chart-title">

    <h2>Know Yourself By Getting Some Clothes Data</h2>

</div>

<div class="chart-container">

    <div class="chartjs">
        <canvas id="myChart" max-height="300" max-width="800"></canvas>
    </div>

    <div class="chartjs">
        <canvas id="myChart2" max-height="300" max-width="800"></canvas>
    </div>
</div>

<div class="chart-container">
    <div class="chartjs">
        <canvas id="myChart3" max-height="300" max-width="800"></canvas>
    </div>
    <div class="chartjs">
        <canvas id="myChart4" max-height="300" max-width="800"></canvas>
    </div>
</div>