<script src="/javascripts/chart.js"></script>

{{> navbar }}

<div class="chart-container">

    <div class="chartjs">
        <canvas id="myChart" max-height="300" max-width="800"></canvas>
    </div>

    <div class="chartjs">
        <canvas id="myChart2" max-height="300" max-width="800"></canvas>
    </div>
</div>

<div class="chart-container">
    <div class="chartjs">
        <canvas id="myChart3" max-height="300" max-width="800"></canvas>
    </div>
</div>