<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta id="site-url" data-url="{{site_url}}">
  <title>{{title}}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
  <script type="module" src="/javascripts/script.js"></script>
  <script type="module" src="javascripts/weatherapi.js"></script>

  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel="stylesheet" href="/stylesheets/viewall.css" />
  <link rel="stylesheet" href="/stylesheets/chart.css" />
  <link rel="stylesheet" href="/stylesheets/meteo.css" />
</head>

<body>
  {{{ body }}}
</body>


</html>