<style>
  #map {
    height: 500px;
    width: 100%;
  }
</style>

{{> navbar}}

<div id="map"></div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0DeMLqoAnFuvMokwgI_xkcN4f_KwuCLg"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>