{{> navbar }}
{{> cloth}}

{{!-- <button onclick="location.href='/manage/{{this._id}}'" type="button">
    Edit cloth
</button> --}}

<button onclick="location.href='/delete/{{this._id}}'" type="button">
    Delete Cloth</button>