.chartjs {
  width: 40%;
  margin: 30px;
}

.chart-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
}

.chart-title {
  text-align: center;
  margin-top: 30px;
}
