@import "./header-nav.css";
@import "./manage.css";
@import "./form.css";
@import "./meteo.css";
@import "./dayclothes.css";
@import url("https://fonts.googleapis.com/css?family=Faster+One|Oswald:300,400,500,700|Source+Sans+Pro:300,400,600,700&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #5dbdc4;
}

h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #5dbdc4;
}

.big-container {
  display: flex;
  width: 100%;
}

.container {
  width: 90%;
}

.flexed-item {
  display: flex;
}
<<<<<<< HEAD

button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

button:hover {
  background-color: #008cba;
  color: white;
=======
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.btn:hover {
  color: white;
  background-color: #5dbdc4;
>>>>>>> 1a9f8d81cc2ebd39bfadaa9a1b9538fdcf1a57e9
}
